body {   
  background-color: #0c739f;
  background-image: url(../img/bacground.jpg);
  background-repeat: repeat-x;
  position: relative;
  left: 0px;
  top: 0px;
  height: 1311px;
  z-index: 7;
}
@font-face {
    font-family: "tahoma";
    src: url(../font/tahoma.ttf);
}
.page {
    margin: 0 auto;
  background-image: url("../img/page.png");
  position: relative;  
  width: 1010px;
  height: 991px;
  z-index: 1;
    box-shadow: 10px 0 10px -10px #0b6075 inset, -10px 0 10px -10px #0b6075 inset;
}
  
.logo {
  background-image: url("logo.png");
  position: absolute;
  left: 10px;
  top: 8px;
  width: 310px;
  height: 164px;
  z-index: 5;
}
.contact{
    position: absolute;
    left: 844px;
    top: 11px;
    color: rgba(18, 138, 167, 0.8);
    font-family: "tahoma";
    font-style: oblique;
    font-size: 13px;
    line-height: 1.5;
  font-weight: 500;
}

.con{
font-weight: 900;
line-height: 2;

}

.text li{
    float: left;
    position: relative;
    top: 115px;
    left: 645px;
    margin:0 5px;
}
a {
  font-family: "tahoma";
    font-size: 10px;
  color: rgb(18, 138, 167);
}
.india{
    background-image: url(../img/india.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 44px;
    height: 20px;
    text-align: center;
   padding-top: 40px;  
    position: absolute;
}
.nepal{
    background-image: url(../img/nepal.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 44px;
    height: 20px;
    text-align: center;
   padding-top: 40px;  
    position: absolute;
}
.tibet{
 background-image: url(../img/tibet.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 44px;
    height: 20px;
    text-align: center;
   padding-top: 40px;  
    position: absolute;;  
}
.bhutan{
    background-image: url(../img/bhutan.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 44px;
    height: 20px;
    text-align: center;
   padding-top: 40px;  
    position: absolute;
}
.sri-lanka{
   background-image: url(../img/sri-lanka.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 54px;
    height: 20px;
    padding-top: 40px;  
    position: absolute;  
} 
.maldives{
    background-image: url(../img/maldives.png);
    background-repeat: no-repeat;
    background-position: top center;
    width: 44px;
    height: 20px;
    text-align: center;
   padding-top: 40px;  
    position: absolute;
}
.foto{   
    position: relative;
    margin-top:114px;
    margin-left: 6px;
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #128aa7;
    z-index: 5;
} 
.panel{ 
  margin-left: 5px;
  margin-right: 3px;    
  height: 30px;
  vertical-align: middle;
  border-bottom: 2px solid black;
  position: relative;
  background-color: #303030;
  z-index:10;    
}
.panel li{
  display: inline-block;
  width: 131px;
  text-align: center;
  vertical-align: middle;
  color: white;
  height: 30px;
  line-height: normal;
  padding-top: 5px;
  position: relative;
  left: 25px;
  font-family: "tahoma";
  font-size: 14px;
}
.panel li ul{
  display: none;
  background-color: #303030;
  position: absolute;
  left: 0;
  top: 21px;
  width: 150px;
  z-index:4;
  border-top:2px solid black;
  margin-top: 8px;
  }
.panel li ul li{
left: 5px;    
display: inline-block;
text-align: left;
height: 15px;
}
.panel li ul li:last-child{
  margin-bottom: 15px;
}

.panel li:hover ul{
  display: block;
  cursor: pointer;
}
.button{
    cursor: pointer;
}
.panel{ 
  margin-left: 5px;
  margin-right: 3px;    
  height: 30px;
  vertical-align: middle;
  border-bottom: 2px solid black;
  position: relative;
  background-color: #303030;
  z-index:10;    
}
.panel li{
  display: inline-block;
  width: 131px;
  text-align: center;
  vertical-align: middle;
  color: white;
  height: 30px;
  line-height: normal;
  padding-top: 5px;
  position: relative;
  left: 25px;
  font-family: "tahoma";
  font-size: 14px;
}
.panel li ul{
  display: none;
  background-color: #303030;
  position: absolute;
  left: 0;
  top: 21px;
  width: 150px;
  z-index:4;
  border-top:2px solid black;
  margin-top: 8px;
  }
.panel li ul li{
left: 5px;    
display: inline-block;
text-align: left;
height: 15px;
}
.panel li ul li:last-child{
  margin-bottom: 15px;
}

.panel li:hover ul{
  display: block;
  cursor: pointer;
}
.button{
    cursor: pointer;
}
.upmenu{
  cursor: pointer;
  background-color: #333333;
  display: inline-block;
  vertical-align: -3px;
  border: 5px solid transparent;
  border-top: 5px solid white;
  width: 0;
}
.menu {
    background-image: url(../img/fon2.png);
    margin-left: 5px;
    width: 1002px;
    left: 7px;
    height: auto;
    float: left;

}
.info{
    width: 20%;
    float: left;
    height: inherit;
}
   
.contaner{
    width: 60%;
    float: left;
}    
.news{
    width: 20%;
    float: right;

}
.Inf{
    margin-top: 10px;
    text-align: center;
    font-family: "tahoma";
    font-size: 18px;
    color: #424c43;
    
}
.News{
    text-align: center;
    margin-top: 10px;
    font-family: "tahoma";
    font-size: 18px;
    color: #424c43;
}
p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "tahoma";
    font-size: 14px;
    line-height: 1.714;
    color: #7d837f;
    
}
.infotext{
    padding-left: 15px;
}
.newstext{
    padding-left: 5px;
}

    
.autor{
  font-size: 14px;
  font-family: "Tahoma";
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.2;
  text-align: left;
    position: absolute;
  left: 550px;
  top: 990px;
  z-index: 3;
}
