@font-face {
    font-family: 'league Gothicregular';
    src: url('../fonts/league-gothic.regular.ttf');
}
@font-face {
    font-family: 'OpenSans Regular';
    src: url('../fonts/2209.ttf');
}

body{
    font-family: "league Gothicregular", "OpenSans Regular", sans-serif;
    font-size: 18px;
}

header{
    width: auto;
    height: 100%;
    background-image: url(../img/Untitled-2.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.menu a{
    font-family: "league Gothicregular";
    color: white;
    font-size: 24px; 
    text-decoration: none;
    text-transform: uppercase;
}


.slider-title{
  text-transform:capitalize;
  color: white;
  display: block;
    font-family: "league Gothicregular";
    font-size: 36px;
}
  .slider-subtitle{
    display: block;
    text-transform: uppercase;
    color: #edbfff;
      font-size: 18px;

  }
  .slider-text{
    display: block;
    color: white;
    font-family:'OpenSans Regular'
  }
  

.cirkl{
    width: auto;
    height: 170px;
}
.cirkl_1{
    float: left;
    position: relative;
    margin-left: 7px;
     height: 10px;
    width: 10px;
    background-color: #3d3a44;
    border: 3px solid #3d3a44; 
   border-radius: 100%;
}
.cirkl_1:active{
    background-color: #fff;
    border: 3px solid #3d3a44;
}
.about{
    height: 100%;
     background-image: linear-gradient(#734f81,#33253a);
    color: white;
    position: relative;
    
}
.icon1:before{
  content: "";
  background-image: url(../img/but.png);
    background-repeat: no-repeat;
  display:  inline-block;
  width: 30px;
  height: 30px;
  position: absolute;

}
.icon2:before{
  content: "";
  background-image: url(../img/but.png);
 
  background-position: 35px 0;
  display:  inline-block;
  width: 30px;
  height: 25px;
  position: absolute;

}
.icon3:before{
  content: "";
  background-image: url(../img/but.png);
  background-position: 71px 0;
  display:  inline-block;
  width: 30px;
  height: 27px;
  position: absolute;

}
.purple-container-text{
  font-size: 16px;
  color: #cfd0d1;
  line-height: 24px;
  margin-top: 10px;
   font-family:'OpenSans Regular';
  font-weight: lighter;
  
}
.purple-container-title{
    font-family: 'league Gothicregular';
    font-size: 24px;
}
.more{
  font-size: 18px;
  color: white;
  margin-right: 9px;
  text-align: right;
}
.more a{
  text-decoration: none;
  color: white;
}
.more a:hover{
  text-shadow: 0 0 10px white;
  color: white;
}
.avtor{
    height:auto;
    background-color: #f9f9f9;
  }
.avtor-container__img{
    background-color: white;
    }
.avtor-title{
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title-color{
  color: #edbfff;
}
.avtor-first-line{
  
    font-family: 'OpenSans Regular';
   font-weight:bold;
    letter-spacing: -0.1px ;
}
.avtor-text{
 
  color: #454545;
  line-height: 24px;
  font-size: 16px;
  font-family: 'OpenSans Regular';
}

.avtor-slide-block-check{
  position: absolute;
  
}

.avtor-slide-check{
  float: left;
background-color: white;
border: 1px solid #aaa;
    border-radius: 100%;
  height: 15px;
  width: 15px;
  display: block;
  cursor: pointer;
  margin-left: 5px;
}
.avtor-slide-check:active{
  background-color: #3d3a44;
  width: 13px;
  height: 13px;
}


.avtor-line__icon1::before{
  content: "";
  display: block;
  background-image: url(../img/circ1.png);
  width: 49px;
  height: 49px;
  position: absolute;
  
}
.avtor-line__icon2::before{
  content: "";
  display: block;
  background-image: url(../img/circ2.png);
  width: 49px;
  height: 49px;
  position: absolute;
  
}
.avtor-line__icon3::before{
  content: "";
  display: block;
  background-image: url(../img/circ3.png);
  width: 49px;
  height: 49px;
  position: absolute;
  
  
}
.avtor-container .avtor-more a{
  color: #454545;
  font-size: 18px;
}
.company{

  border: 1px solid grey;
  display: block;
}
   

.pre-footer-container-text{
  font-size: 16px;
  color: #787878;
  line-height:  24px;
  margin-top: 10px;
  font-weight: lighter;
  font-family: 'OpenSans Regular';
    font-size: 16px;
}
.pre-footer__color{
  color:#b9b9b9;
}
.footer-bg{
    background-image: url(../img/Untitled-3.jpg);
    background-position: center;
    height: 201px;
    box-shadow: inset 0px 5px 10px 0px #a29ea3;
     
  }

.copyrait{
  font-size: 12px;
  /*border: 1px solid black;*/
  font-family: "Open Sans";
  color: white;
  margin-right: 20px;
}
.footer-bold{
  font-weight: 900;
}
.copyrait::after{
  content: "";
  display: block;
  clear: both;
}
.menu-list{
    float: left;
    list-style: none;
     }
.menu-list a{
    text-decoration: none;
    text-transform: uppercase; 
    color: white;
    font-size: 24px;
}
.menu-list:hover{
    text-decoration: underline;
   
}
.slider-block{
    margin: 0 auto;
    width: 960px;
    position: relative;
    
  }
/*-------------960+-------------*/


@media only screen and (min-width: 960px){
.wrapper {
margin: 0 auto;
max-width: 960px;
}
    .uppanel{
    width: 960px;
    margin: 0 auto;
    padding-top: 50px;
  }
  .logo{
    float: left;
      margin-top: 25px;
      margin-right: 122px;
  }
  .menu-item{
      display: inline-block; 
     margin-top: 30px;
    }
    .menu-list{
        margin-left: 52px
    }
  .menu-item480{
      display: none;
    }
    .slider-polosa{
      background-color: rgba(0, 0, 0, 0.2);
      margin-top: 175px;
      margin-bottom: 170px;
      height: 400px;
      position: relative;
    }
  .slider-title{
    padding-top: 90px;
    font-size: 60px;
    line-height: 36px;
  }
  .slider-subtitle{
    font-size: 32px;
    line-height: 36px;
    margin: 8px 0 5px;
  }
  .slider-text{
      width: 520px;
    font-family:'OpenSans Regular';
    font-size: 18px;
    line-height: 24px;
    
  }
    
  .img-slide{
    background-image: url(../img/phone.png);
    height: 415px;
    width: 280px;
    position: absolute;
    right: 65px;
    top: -19px;
    display: block;
    text-align: right;
  }

    .cirkl_1{
    left: 705px;
    top:175px;
    }
    .purple-block{
    height: 342px;
}
  .purple-block-all{
    width: 960px;
    margin: 0 auto;
}
  .purple-container{
    width: 226px;
    display: inline-block;
    position: relative;
    font-family:'OpenSans Regular';
    font-size: 16px;
    margin-left: 63px
          
}
    .icon3 {
        margin-left: 109px;
        
    }
    .icon2 {
        margin-left: 104px;
        
    }
    
  .purple-container-title{
    font-family: 'league Gothicregular';
    font-size: 30px;
  color: white;
  margin-top: 75px;
  }
  .more{
      margin-top: 18px;
      font-family: 'league Gothicregular';
  }
  .icon1:before{
    top: 85px;
    left: -55px;
  }
  .icon2:before{
    top: 85px;
    left: -45px;
  }
  .icon3:before{
    top: 82px;
    left: -55px;
  }
.avtor{
    height: 485px;
    background-color: #f9f9f9;
  }
.avtor-block-all{
  width: 960px;
  margin: 0 auto;
}
.avtor-container__img{
    position: relative;
    top: 100px;
    margin-left: 20px;
    width: 430px;
    height: 230px;
    background-color: white;
    
    }
    .foto{
        float: left;
        margin-left: -20px;
         margin-top: 15px
    }
     .avtor-first-line{
        margin-top: 22px;
    margin-left: 69px;
    }
    .avtor-text__otstup{
  padding-left: 24px;
        padding-top: 4px;
        width: 375px
    }
    
    .avtor-more{
        padding-right: 5px;
        padding-top: 0px;
    }
    .arrow-down{
    width: 0;
	height: 0;
	border-top: 30px solid #fff; 
	border-left: 30px solid transparent;
        position: absolute;
        bottom: -20px;
        left: 360px
    }
   
.avtor-container{
  padding-bottom: 40px;

  box-shadow: 0 5px 5px #efefef;
    float: left;
}
.avtor-container-upd{
    position: relative;
    float: right;
    margin-top: 99px;
  width: 450px;
  box-shadow:none;
}
    .avtor-text{
        margin-left: 44px;
        margin-right: 30px
        
    }
  .avtor-title{
    font-size: 30px;
      margin-top: 25px;
      margin-left: 45px;
  }
    .w768-font{
        margin-left: 1px;
    } 
  .avtor-slide-block-check{
    left: 173px;
      top: 295px
  }
    .avtor-line__icon1::before{
 position: absolute;
  left: 3px;
  top: 75px;   
    }
    .avtor-line__icon2::before{
  position: absolute;
  left: 3px;
  top: 139px;   
    }
    .avtor-line__icon3::before{
  position: absolute;
  left: 3px;
  top: 206px;   
    }
    .company{
    height: 120px;
  }
  .v768{
    display: none;
  }
  .v480logo{
    display: none;
  }
  .v320logo{
    display: none;
  }
    .v960{
        display: block;
        margin: auto;
        padding-top: 25px;
    }
    .pre-footer{
    height: 396px;
    background-color: #ececec;
    display: block;
}
 .pre-footer-block-all{
   width: 960px;
   margin: 0 auto;
 }
    .pre-footer-container{
  float: left;
  position: relative;
}
 .pre-footer-container{
   width: 282px;
   height: 295px;
     margin-top: 94px;
     overflow: hidden;
 }
    .container2{
        margin-left: 55px;
        margin-right: 59px;
    }
    .w960{
        display: none;
    }
 .v960fs{
  font-size: 48px;
 }
 .pre-footer-container-title{
   font-size: 30px;
 }
 .pre-footer-first-line{
   font-style: italic;
   color:#b9b9b9;
     font-family: 'OpenSans Regular';
   font-size: 16px;
   line-height:  20px;
   margin: 10px 0
 }
 .w960hiden{
   display: none;
 }
    .footer-menu .menu-list a{
    font-size: 20px;
     position: relative;
        left: -40px;
        margin-left: -10px;
        
    }
 .footer-conteiner{
  width: 960px;
  margin: 0 auto;
  padding-top: 12px;
  }
  .footer-conteiner nav{
    display: inline-block;
  }
  .copyrait{
    padding-top: 42px;
    float: right;
      margin-right: -7px
  }
    .footer-bg{
        height: 110px
    }
    
}
/*----------768---------------*/

@media only screen and (min-width: 768px) and (max-width: 959px){
.wrapper {
margin: 0 auto;
max-width: 768px;
}
    .logo{
    display: block;
    padding-top: 70px;
      
    float: none;
/*    -border: 12px solid black;*/
  }
  .menu-item{
  display: inline-block;
   margin-top: 30px;
  }
    .menu-list{
        margin-right: 52px;
    }
  .menu-item480{
    display: none;
  }
    .slider-polosa{
      background-color: rgba(0, 0, 0, 0.2);
      margin-top: 75px;
      margin-bottom: 155px;
      height: 400px;
      position: relative;
    }
  .slider-title{
    padding-top: 105px;
    font-size: 46px;
    line-height: 40px;
      margin-left: 25px
  }
  .slider-subtitle{
    font-size: 24px;
    line-height: 24px;
    margin: 8px 25px 5px;
  }
    .tr{
        display: none;
    }
  .slider-text{
      width: 280px;
    font-family:'OpenSans Regular';
    font-size: 16px;
    line-height: 26px;
    margin: 10px 25px;
  }
    .w768h{
        display: none;
    }
  .img-slide{
    background-image: url(../img/phone.png);
    height: 415px;
    width: 280px;
    position: absolute;
    right: 255px;
    top: -19px;
    display: block;
    text-align: right;
  }

    .cirkl_1{
    left: 517px;
    top:135px;
    }
  .purple-block-all{
    width: 768px;
     height: 340px;
      margin: 0 auto;
  }
  .purple-container{
    width: 160px;
    display: inline-block;
    margin-left: 62px;
      margin-top: 5px;
    position: relative;
    font-family:'OpenSans Regular';
    font-size: 16px;
  }
  .purple-container-title{
    font-family: 'league Gothicregular';
    font-size: 24px;
    color: white;
    margin-top: 71px;
  }
    .purple-container-text{
   margin-top:2px;
        
    }
    .w768{
        display: none
    }
  .more{
    margin-top: 10px;
    font-family: 'league Gothicregular'
  }
    .icon3{
        margin-left: 90px;
    }
    .icon2{
        margin-left: 98px;
    }
  .icon1:before{
    top: 76px;
    left: -55px;
  }
  .icon2:before{
    top: 76px;
    left: -55px;
  }
  .icon3:before{
    top: 76px;
    left: -55px;
  }
    .avtor{
        height: 487px;
    }
  .avtor-block-all{
    margin: 0 auto;
  }
  .avtor-container{
     float: left;
    width: 315px;
    margin-left: 20px;
    margin-top: 100px;
    padding-bottom: 40px;
    box-shadow: 0 5px 5px #efefef;
  }
     .avtor-container__img{
    position: relative;
    margin-left: 20px;
    height: 230px;
         padding-left: 40px;
    background-color: white;
    
    }
    .avtor-text{
        width: 255px;
    }
    .foto{
        float: left;
        margin-left: -60px;
            margin-top: 18px;
        
    }
     .avtor-first-line{
        margin-top: 22px;
    margin-left: 69px;
         width: 270px
    }
    .avtor-text__otstup{
  padding-left: 65px;
        padding-top: 2px;
        width: 270px
    }
   
  .avtor-container-upd{
    width: 300px;
    box-shadow:none;
      position: relative;

  }
  .avtor-title{
      margin-top: 30px;
    font-size: 24px;
  }
  .title-color{
    display: block;
  }
  .w7681{
    display: none;
  }
  .w768-font{
    font-size: 30px;
  }
  .avtor-slide-block-check{
    left: 40%;
  }
    .avtor-line__icon1::before{
 position: absolute;
  left: 0px;
  top: 75px;   
    }
    .avtor-line__icon2::before{
  position: absolute;
  left: 0px;
  top: 145px;   
    }
    .avtor-line__icon3::before{
  position: absolute;
  left: 1px;
  top: 210px;   
    }
    
    .avtor-more {
        margin-right: -27px;
        margin-top: 20px;
    }
    .avtor-slide-block-check{
        margin-top: 65px;
        margin-left: -30px;
    }
    .company{
    height: 120px;
  }
  .v960{
    display: none;
  }
  .v480logo{
    display: none;
  }
  .v320logo{
    display: none;
  }
    .v768{
        display: block;
        margin: auto;
        padding-top: 25px;
        padding-right: 40px;
    }
     .pre-footer{
    height: 396px;
    background-color: #ececec;
    display: block;
}
 
  .pre-footer-container{
    width: 208px;
      height: 310px;
      float: left;
      margin-top: 100px;
      
    
  }
    .container2{
        margin-left: 58px;
        margin-right: 55px;
    }
    .w960{
        display: none;
    }
    .w9601{
        display: none;
    }
  .v960fs{
   display: none;
  }
  .pre-footer-container-title{
    font-size: 24px;
  }
  .pre-footer-first-line{
    display: none;
  }
.footer-menu .menu-list a{
    font-size: 20px;
    margin-right: -8px
   
    }
  .footer-bg{
    height: 201px;
  }
  .copyrait{
      float:  right;
      margin-top: 40px;
      margin-right: 40px;
  }
    
}
/*-------------480-------------*/


@media only screen and (min-width: 480px) and (max-width: 767px) {
.wrapper {
margin: 0 auto;
max-width: 480px;
}

    .slider-polosa{
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 100px;
    height: 245px;
  }
  .logo{
    padding-top: 70px;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
     margin-bottom: 35px;
  }
  .menu-item{
    display: none;
  }
 .menu-item480{
    display: block;
    position:relative;
    text-align: center;  
  }

  .menu-item480 .menu-list{
      margin: 0 auto;
    float: none;
      width: 50px;
      height: 28px;
      border-bottom: 2px solid #edbfff;
      z-index: 10
  }
.menu-item480 .menu-list ul{
    display: none;
    position: absolute;
    margin-left: -97px;
    background-color: rgba(61, 48, 69, 0.8);
    border-radius: 15px;
    top: -15px;
    width: 245px;
    height: 260px;
    text-align: center;
    z-index: 20
  }
 .menu-item480 .menu-list ul li{
  display: inline-block;
  text-align: center;
  font-size: 24px;
  width: 100%;
  height: 40px;
  line-height: 40px;
 border-top: 2px solid #513d58;
  border-bottom: 2px solid #513d58;
  

      
 }
  .menu-item480 .menu-list ul li:hover{
   background-color: rgba(45, 36, 50, 0.8);
      border-bottom: 2px solid #edbfff; 
 }
  .menu-item480 .menu-list:hover ul{
    display: block;
  }
    .slider-title{
    font-size: 36px;
    line-height: 24px;
    padding-top: 100px;
    margin-left: 40px;    
  }
  .slider-subtitle{
    font-size: 18px;
    margin-left: 40px;
      margin-top: 7px;
      width: 210px;
  }
  .img-slide{
    background-image: url(../img/phone1.png);
    height: 288px;
    width: 192px;
      float: right;
    position: absolute;
   left: 255px;
    top: -10px;
    display: block;
    text-align: right;
  
  }
     .slider-text{
    display: none;
  }
    .tr{
        display: none;
    }
    .cirkl_1{
    left: 197px;
    top: 120px;
    }
    .about{
        height: 600px
    }
    .purple-container{
        top: 58px;
    width: auto;
     height: auto;
    display: inline-block;
    margin-left: 84px;
    position: relative;
    margin-top: 20px;
        margin-bottom: 7px;
      font-family:'OpenSans Regular';
    font-size: 16px;
      
  }
  .purple-container-title{
    color: white;
    font-size: 24px;
    line-height: 24px;
  font-family: 'league Gothicregular';
      font-size: 24px
  }
    .purple-container-text{
        margin-top: 5px;
        width: 380px
    }
  .more{
    margin-top: 12px;
      font-family: 'league Gothicregular';
      font-size: 18px;
      padding-top: 1px
  }
  .icon1:before{
    top: 2px;
    left: -50px;
  }
  .icon2:before{
    top: 2px;
    left: -50px;
  }
  .icon3:before{
    top: 2px;
    left: -50px;
  }
/*
  .avtor-block-all{
    width: 345px;
    margin: 0 auto;
  }
*/
  .avtor-container{
      margin: 0 auto;
    width: 415px;
    height: 325px;
    padding-bottom: 30px;
    box-shadow: 0 5px 5px #efefef;
  }
    .avtor-text{
        padding-top: 1px;
        margin-left: -2px;
    }
    
  .avtor-container-upd{
    width: 100%;
    margin-top: 158px;
    box-shadow:none;
position: relative;
  }
    .w7681{
        display: none;
    }
    .avtor-container__img {
        position: relative;
        top: 70px;
    background-color: white;
        width: 380px;
        height: 215px;
        padding-left: 45px;
        padding-top: 28px;
        margin-left: 40px;
    }
     .foto{
        float: left;
        margin-left: -62px;
         margin-top: -9px
    }
/*
  .w768{
    display: none;
  }
*/
  .avtor-title{
    font-size: 30px;
  }
  .avtor-slide-block-check{
    left: 162px;
      top: 295px;
  }
    .avtor-line__icon1::before{
 position: absolute;
  left: 85px;
  top: 45px;   
    }
    .avtor-line__icon2::before{
  position: absolute;
  left: 85px;
  top: 112px;   
    }
    .avtor-line__icon3::before{
  position: absolute;
  left: 85px;
  top: 179px;   
    }
     .avtor-first-line{
        margin-top: 20px;
    margin-left: 151px;
    }
    .avtor-text__otstup{
  margin-left: 151px;
}
    .w768-font{
        margin-left: 85px;
    } 
    .avtor-more{
        padding-right: 50px;
        padding-top: 14px;
    }
     .company{
    height: 233px;
    
  }
  .v768{
    display: none;
  }
  .v960{
    display: none;
  }
  .v320logo{
    display: none;
  }


  .v480logo{
    display: block;
      margin: auto;
      padding-top: 38px;
 }

.pre-footer{
    height:  665px;;
    background-color: #ececec;
    display: block;
    overflow: hidden;
    
 }
  .pre-footer-block-all{
      padding-bottom: 20px;
 }
 .pre-footer-container{
   width: 455px;
   margin: auto;
   margin-top: 77px;
     padding-left: 12px;
     margin-bottom: -20px;
     
 }
 .pre-footer-first-line{
   display: none;
 }
 .v960fs{
  display: none;
 }
 .pre-footer-container-title{
   font-size: 24px;
   
 }
 .pre-footer-first-line{
   display: none;
 }
  .pre-footer-container .more{
    display: none;
  }
   
    .footer-menu {
 font-size: 20px;
  display: inline-block;
  line-height: 33px;

        margin-top: 40px;
    }

    .footer-menu .menu-list a{
        display: inline-block;
    font-size: 20px;
    margin-left: 25px;
    }
  .copyrait{
        float: none;
        display: block;
        text-align: center;
        padding-top: 25px;
      margin-left: 30px;
    }  
}
 
  
/*----320------*/
@media only screen and (min-width: 320px) and (max-width: 479px){
.wrapper {
margin: 0 auto;
max-width: 320px;
}
    .logo{
    padding-top: 70px;
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
        margin-bottom: 32px;
  }
    
    .menu-item{
    display: none;
  }
  .menu-item480{
    display: block;
    position:relative;
    text-align: center;  
  }

  .menu-item480 .menu-list{
      margin: 0 auto;
    float: none;
      width: 50px;
      height: 28px;
      border-bottom: 2px solid #edbfff;
  }
.menu-item480 .menu-list ul{
    display: none;
    position: absolute;
    margin-left:-105px; 
    background-color: rgba(61, 48, 69, 0.8);
    border-radius: 15px;
    top: -15px;
    width: 245px;
    height: 260px;
    text-align: center;
    z-index: 30;
  }
 .menu-item480 .menu-list ul li{
  display: block;
  text-align: center;
  font-size: 24px;
  width: 100%;
  height: 24px;
  line-height: 24px;
 border-top: 2px solid #513d58;
  border-bottom: 2px solid #513d58;
  margin-top: 1px;
  padding-top: 15px;
   z-index: 35;   
 }
  .menu-item480 .menu-list ul li:hover{
   background-color: rgba(45, 36, 50, 0.8);
      border-bottom: 2px solid #edbfff; 
 }
  .menu-item480 .menu-list:hover ul{
    display: block;
  }
    .slider-polosa{
        margin-top: 125px;
      height: 220px;
    }
    .slider-text{
        display: none;
    }
    .img-slide{
      display: none;  
    }
    .slider-polosa-alltext{
    width: 320px;
    text-align: center;
    line-height: 30px;

    }
    .slider-subtitle{
        padding-left: 20px;
        margin-bottom: 80px;
    }
    .tr{
        display: none;
    }
    .cirkl{
        width: 100px;
        height: 20px;
        margin-left:115px;
        margin-top: -5px
   }
    .purple-block-all{
        position: relative;
    width: 100%;
        height: 600px;
  }
  .purple-container{
    display: block;
    width: 200px;
    margin: 0 auto;
    padding-top: 28px;
padding-left: 42px
   
      
  }
    .icon1{
        padding-top: 67px;
    }
    .icon3{
        margin-top: -5px;
        
    }
    .icon2{
        margin-top: 10px;
    }
  .more{
    display: block;
    margin-top: 10px;
    margin-right: -18px
  }
  .w320{
    display: none;
  }
  .icon1:before{
    margin-left: -50px;
      margin-top: 5px;
  }
  .icon2:before{
    margin-left: -50px;
       margin-top: 5px;
  }
  .icon3:before{
    margin-left: -50px;
       margin-top: -2px;
  }  
.avtor-block-all{
    width: 290px;
    margin: 0 auto;
  }
  .avtor-container{
      margin-left: 30px;
    width: 235px;
    padding-bottom: 40px;
    box-shadow: 0 5px 5px #efefef;
/*      padding-left: 30px;*/
  }
    .foto{
        float: left;
        margin-left: -56px;
       padding-top: 15px;
    }
    .avtor-container__img{
        position: relative;
    top: 70px;
        height: 230px;
        padding-left: 33px;
    }
    
  .title-color{
    display: block;
      font-size: 24px
  }
    .w320{
        display: none;
    }
     .w768{
    display: none;
    }
  .avtor-container-upd{
    width: 280px;
    margin-top: 180px;
      box-shadow:none;
      position: relative;
  }
     .avtor-title{
        font-size: 24px;
    }
  .avtor-more{
    padding-top: 10px;
     padding-right: 50px 
  }
    .titl1{
        padding-top: 22px;
    }
  .avtor-slide-block-check{
    right: 110px  ;
      margin-top: 50px
  }
    .avtor-text{
        margin-top: -5px;
        margin-left: 5px;
        width: 190px;
    }
    .avtor-line__icon1::before{
 position: absolute;
  left: -25px;
  top: 45px;   
    }
    .avtor-line__icon2::before{
  position: absolute;
  left: -25px;
  top: 110px;   
    }
    .avtor-line__icon3::before{
  position: absolute;
  left: -25px;
  top: 182px;   
    }
    .w_320{
        display: none
    }
    .w768{
        display: none;
    }
    .w7681{
        display: none;
    }
    .avtor-first-line{
        margin-top: 20px;
    margin-left: 40px;
    }
    .avtor-text__otstup{
        width: 240px;
  margin-left: 40px;
        margin-top: 4px;
}
    
    .w768-font{
        font-size: 28px;
        margin-top: -20px;
        margin-left: -23px;
    }
.v768{
    display: none;
  }
  .v960{
    display: none;
  }
  .v480logo{
    display: none;
  }
  .v320logo{
    display: block;
  }
/*
  .company{
    height: 425px;
    padding-left: 40px;
*/

  
  .company img{
      margin: 0 auto;
      padding-top: 100px;
      margin-bottom: 75px;
  } 
.pre-footer{
    display: none;
  }
.footer-menu{
    display: none;
  }
.copyrait{
      float: none;
      display: block;
      text-align: center;
      padding-top: 45px;
    margin-left: 28px
  }
}
