body {
    margin: 0;
    background-color: gray; 
}
div {
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px 50px;
    box-shadow: 0 0 5px;
}
h1 {
    padding-left: 130px;
}
img {
    margin-left: 200px;
}
.line {
    height: 4px;
    background-color: black;
}